div.uHorizontalProgressList {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 0 8px 0;
}
div.uHorizontalProgressList ul {
  margin: 0 0 10px 0;
  height: 100px;
  padding: 0;
  clear: left;
  float: left;
  position: relative;
  left: 50%;
  counter-reset: wizard-counter;
}
div.uHorizontalProgressList ul li {
  float: left;
  display: block;
  position: relative;
  right: 50%;
  counter-increment: wizard-counter;
  background: url(progress-sprite.png) 50%-115px no-repeat;
}
div.uHorizontalProgressList ul li span {
  display: block;
  float: left;
  padding: 19px 5px 0 5px;
  color: #555;
  background-image: url(progress-sprite.png);
  background-repeat: no-repeat;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100px;
  max-width: 190px;
}
div.uHorizontalProgressList ul li.current span,
div.uHorizontalProgressList ul li.first-current span,
div.uHorizontalProgressList ul li.last-current span {
  color: #333;
  font-weight: bold;
  background-position: 5px -29px;
}
div.uHorizontalProgressList ul li.non-current span,
div.uHorizontalProgressList ul li.first-non-current span,
div.uHorizontalProgressList ul li.last-non-current span {
  background-position: -92px -29px;
}
div.uHorizontalProgressList ul li.last-non-current,
div.uHorizontalProgressList ul li.last-current {
   background: url(progress-sprite.png) 50% -205px no-repeat;
}
div.uHorizontalProgressList ul li.first-non-current,
div.uHorizontalProgressList ul li.first-current {
   background: url(progress-sprite.png) 50% -295px no-repeat;
}
div.uHorizontalProgressList ul li span:before {
  content: counter(wizard-counter);
  font-size: 16px;
  color: #d6d6d6;
  display: block;
  margin-bottom: 30px;
}
div.uHorizontalProgressList ul li.first-current span:before,
div.uHorizontalProgressList ul li.current span:before,
div.uHorizontalProgressList ul li.last-current span:before {
  color: transparent;
}

/**/
div.uVerticalProgressList {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin: 0 0 8px 0;
}
div.uVerticalProgressList ul {
  margin: 0 0 10px 0;
  padding: 0;
  position: relative;
  counter-reset: wizard-counter;
}
div.uVerticalProgressList ul li {
  display: block;
  counter-increment: wizard-counter;
  background: url(progress-sprite.png) -22px 49% no-repeat;
  min-width: 80px;
  max-width: 100px;
  min-height: 100px;
}
div.uVerticalProgressList ul li span {
  display: inline-block;
  padding: 13px 40px;
  color: #555;
  background-image: url(progress-sprite.png);
  background-repeat: no-repeat;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100px;
  max-width: 190px;
  margin-top: 25px;
}
div.uVerticalProgressList ul li.first-current span,
div.uVerticalProgressList ul li.first-non-current span {
  margin-top: 21px;}
div.uVerticalProgressList ul li.last-current span,
div.uVerticalProgressList ul li.last-non-current span {
  margin-top: 26px;}
div.uVerticalProgressList ul li.current span,
div.uVerticalProgressList ul li.first-current span,
div.uVerticalProgressList ul li.last-current span {
  color: #333;
  font-weight: bold;
  background-position: -23px -35px;
  content: counter(wizard-counter);
}
div.uVerticalProgressList ul li.non-current span,
div.uVerticalProgressList ul li.first-non-current span,
div.uVerticalProgressList ul li.last-non-current span {
  background-position: -121px -36px;
}
div.uVerticalProgressList ul li.last-non-current,
div.uVerticalProgressList ul li.last-current {
   background: url(progress-sprite.png) -122px -678px no-repeat;
}
div.uVerticalProgressList ul li.first-non-current,
div.uVerticalProgressList ul li.first-current {
   background: url(progress-sprite.png) -23px -610px no-repeat;
}
div.uVerticalProgressList ul li:before {
  /* content: counter(wizard-counter); */
  font-size: 16px;
  color: #d6d6d6;
  /* padding-left: 30px; */
  display: inline-block;
}
div.uVerticalProgressList ul li.first-current span:before,
div.uVerticalProgressList ul li.current span:before,
div.uVerticalProgressList ul li.last-current span:before {
  color: transparent;
}